<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DontFundMe</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
      <div class="navbar" arial-label="main navigation">
        <div class="navbar-start">
          <div class="navbar-item">
            <a class="button is-primary" href="/">
              <strong>DontFundMe</strong>
            </a>
            <a class="button is-light all-projects" href="/projects">Projects</a>            
          </div>
        </div>
        <div class="navbar-end">
          <nav class="navbar-item">
            {{#if logged_in}}
            <div class="buttons">
              <a class="button is-primary" href="/dashboard">
                <strong>Dashboard</strong>
              </a>
              <a class="button is-light" id="logout">Logout</a>
            </div>
            {{else}}
            <a class="button is-primary" href="/signin"><strong>Get Started</strong></a>
            {{/if}}
          </nav>        
        </div>
      </div>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>

