<div class="columns">
  <div class="column">
    <h1>DontFundMe</h1>
  </div>
</div>

<div class="columns">
  <div class="column">
    <span href="/dashboard" style="float:right">Back to Dashboard</span>
    <h3>Create a Project</h3>

    <form class="box new-project-form">
      <div class="field form-group">
        <label class="label" for="project-title">project title:</label>
        <div class="control">
          <input class="input form-input" type="text" id="project-title" name="project-title" />
        </div>
      </div>
      <div class="field form-group">
        <label class="label" for="fund_needed">goal:</label>
        <div class="control">
          <input class="input form-input" type="number" id="fund_needed" name="fund_needed" placeholder="How much do you want to raise ($)" />
        </div>
      </div>
      <div class="field form-group">
        <label class="label" for="project-desc">description:</label>
        <div class="control">
          <textarea class="input form-input" id="project-desc" name="project-desc" placeholder="Create your story"></textarea>
        </div>
      </div>
      <div class="field form-group">
        <button type="submit" class="button is-primary create-button">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/createproject.js"></script>