<div class="row">
  <div class="col-auto">
    <h2>{{name}}'s Dashboard</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
      <div class="row md-6">
        <h3>You do not have any projects yet. Start a DontFundMe!</h3>

        <div class="col-4">
          <button type="submit" class="btn btn-primary">DontFundMe</button>
        </div>
      </div>  
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Your DontFundMe Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>