<div class="col">
 <div class="row mb-4 landingpage">
    <div class= "col-3">
      <h1>DontFundMe</h1>
      <h3>A place for you</h3>
    </div>
    <div class= "col-7 description">
      <p>
        There’s a part of every one of us that dreams of a better world. That spark of inspiration to help 
        a person, fix a neighborhood, or even change a nation. At GoFundMe, we believe your inspiration 
        should be shared with everyone. Because that is how change happens.
        <br>
        <br>
        That’s why we make it easy to inspire the world and turn compassion into action. By giving people 
        the tools they need to capture and share their story far and wide.
      </p>
    </div>
  </div>

  <h2>How It Works</h2>
  <div class="row steps">
    <div class="col-3">
      <div class="circle">1</div>
      <h3>Start with the basics</h3>
      <p>Kick things off with your name</p>
    </div>
    <div class="col-3">
      <div class="circle">2</div>
      <h3>Craft your story</h3>
      <p>We'll guide you along the way</p>
    </div>
    <div class="col-3">
      <div class="circle">3</div>
      <h3>Share</h3>
      <p>People out there want to help you</p>
    </div>
  </div>
</div>


