<div class="columns is-centered">
 <div class="column is-half">
    <h1>Sign Up</h1>

    <form class="box signup-form">
      <div class="field form-group">
        <label for="name-signup">name:</label>
        <div class="control">
          <input class="input form-input" type="text" id="name-signup" />
        </div>
      </div>
      <div class="field form-group">
        <label for="email-signup">email:</label>
        <div class="control">
          <input class="input form-input" type="text" id="email-signup" />
        </div>
      </div>
      <div class="field form-group">
        <label for="password-signup">password:</label>
        <div class="control">
          <input class="input form-input" type="password" id="password-signup" />
        </div> 
      </div>
      <div class="form-group">
        <button class="button is-primary" type="submit" id="signUpButton">Sign Up</button>
      </div>
      <div class="sign-up">
      <h3>Already have an account?</h3> 
      <a href="/signin" class="button is-primary link">Sign In</a>
    </div>
    </form>
  </div>

</div>

<script src="/js/signup.js"></script>